body{
    min-width:800px;
    height:100%;
    margin:auto;
    overflow:hidden;

    background: #f5f5f5; 
    color: #333;
    font-size: 12px;
    font-family: 'Inconsolata', "Courier New", Courier, monospace, "Times New Roman", Times, serif;
}
a{
    color: #555;
    text-decoration: underline;
}
a:hover{
    color: #555;
    text-decoration: line-through;
}
#header{
    position:fixed;
    padding-top:43px;
    width:139px;
    height:129px;
    bottom:30px;
    left:30px;
    z-index:99;
    background:#fff;
    opacity:.9;
}
#container{
    width:100vw;
    height:100vh;
}

#landing_container{
    position:absolute;
    top:0px;
    width:100vw;
    height:100vh;
    overflow:hidden;
    z-index:7;
    background: #f5f5f5;
}
#about_container{
    position:absolute;
    top:0px;
    width:100vw;
    height:100vh;
    overflow:hidden;
    z-index:6;
    background: #f5f5f5;
}
#works_container{
    position:absolute;
    top:0px;
    width:100vw;
    height:100vh;
    overflow:hidden;
    z-index:0;
    background: #f5f5f5;
}
#works_content_container{
    padding: 5px 5px 50px 5px;
    position:absolute;
    top:0px;
    width:922px;
    height:100vh;
    z-index:999;
    background: #f5f5f5;
    overflow: auto;
    display:none;
}
#works_content_bg{  
    cursor:pointer; 
    position:absolute;
    top:0px;
    width:100vw;
    height:100vh;
    display:none;
    background:#000;
    opacity:0;
    z-index:998;
}
#works_ui_container{
    position:absolute;
    margin:0 0 30px 0;
    padding:0 30px 0 30px;
    top:0px;
    width:100vw;
    height:100vh;
    z-index:1;
    background: #f5f5f5;
}
#logo{
    position:absolute;
    top:5px;
    left:5px;
}



.title{
    font-size: 35px;
    font-color: #fff;
    font-style: italic;
    letter-spacing: -1px;
}

.content_subject{
    margin:2px 0 1px 200px;
    font-size:11px;
}
.content_subject span{
    padding-right:2px;
    font-style:italic;
    background:#000;
    color:#ddd;
}
.content_body{
    background:#fff;
    margin:0 0 10px 200px;
    padding: 2px 20px 0 3px;
    line-height:1.5em;
}
.content_body p{
    margin: 0 0 0 0;
}
.content_body div{
    margin: 0 0 4px 0;
}
.content_body_grey{
    color:#888;
}

#_content{
    margin: 0;
    width:!800px;
}

.menu{
    font-size:10px;
    cursor:pointer;
    color:#333;
    padding-right:2px;
    margin:2px 0 0 37px;
    text-decoration:none;
}
.menu:hover{
    color:#ddd
}
.sorting{
    color:#999;
    margin:0 0 0 52px;   
}

.ui_grid{
    background:#fff;
    width:200px;
    height:280px;
    margin:0px;
    overflow:hidden;
    display:inline-block;
}
.ui_thumbnail{
    cursor:pointer;
    width:200px;
    margin:0px;
    opacity:.8;
    -webkit-filter: grayscale(100%);
}
.ui_thumbnail:hover{
    opacity:1.0;
    -webkit-filter: grayscale(60%);
}
.ui_subject{
    cursor:pointer;
    width:196px;
    margin:5px 2px 0 2px;
    overflow : hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom-style:dotted;
    border-bottom-width:1px;
    border-bottom-color:#ddd;
}
.ui_subject span:hover{
    color:#ddd;
    background:#000;
}

.ui_description{
    font-size:11px;
    margin:4px 2px 0px 2px;
    width:196px;
    height:40px;
    color:#888;
    word-break:break-all;
}
.ui_date{
    font-size:10px;
    margin: 0px 0px 0px 2px;
    color: #888;
}


::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    background: #bbb;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: none; 
}
