body{
    min-width: 1024px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    background: #000;
    font-family: Helvetica, arial, sans-serif;
}   
canvas{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%; 
    height: 100%;
}

::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    border-radius: 2px;
    background: #333;
}
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #999; 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #999; 
}



