body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    background: #000;
    font-family: Helvetica, arial, sans-serif;
}   
#mCanvas{
    position:fixed;
}
#project-title{
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 72px;
    font-weight: 600;
    letter-spacing: -5px;
    color: #f8f8ff;
    z-index: 1000;
    opacity: 0.8;
}
#project-title span{
    background: #000;
}

#description{
    position: absolute;
    width: 300px;
    height: 160px;
    left: 15px;
    bottom: 25px;
    z-index: 1000;
}
#project-info{
    position: absolute; 
    width: 180px;
    height: 160px;
    bottom: 25px;
    left: 340px;
    z-index: 1000;
}
#contact-info{
    position: absolute; 
    width: 180px;
    height: 160px;
    bottom: 25px;
    left: 523px;
    z-index: 1000;
}
#bgm{
    position: absolute; 
    width: 300px;
    height: 199px;
    bottom: 25px;
    right: 15px;
    background: #000;
    opacity: 0.8;
    z-index: 1000;
}

.body-title{
    position: relative;
    padding-bottom:2px;
    left: 2px;
    top: -8px;
    font-size: 10px;
    letter-spacing: 0.6px;
    font-weight: 600;
    color:#e8e8ef;
    opacity: 0.8;
}
.body-title span{
    background: #000;
}
.body-description{
    font-size: 10px;
    font-weight: 100;
    color: #a0a0a5;
    letter-spacing: 0.6px;
    line-height: 15px;
    position: relative;
    background: #000;
    opacity: 0.8;
}
.body-description li{
    margin:0px;
}
.body-description li span{
    font-size: 10px;
    font-weight: 100;
    color: #a0a0a5;
    letter-spacing: 0.6px;
    line-height: 15px;
    position: relative;
    background: #000;
    opacity: 0.8;
}
.body-description a{
    color: #b0b0b5;
    text-decoration: underline;
}
.body-description a:hover{
    text-decoration: line-through;
}

.player{
    font-size: 17px;
    font-weight: 100;
    word-break: break-all; 
    color: #fff;
    letter-spacing: 0.6px;
    line-height: 12px;
    position: relative;
    opacity: 0.8;
}
.player a{
    color: #b0b0b5;
    text-decoration: none;
}
.player a:hover{
    color: #fff;
}
.player #mThumb {
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    left:0px;
}
.player #mImg{
    width: 50px;
}
.player #mLink{
    position: absolute;
    padding-left: 1px;
    padding-top: 4px;
    padding-bottom: 4px;
    left: 52px;
    max-width: 248px;
    overflow : hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.player #mLink a{
    color: #ccc;
}
.player #mLink a:hover{
    color: #fff;
}
.player #mUsrLink{
    font-size: 9px;
    position: absolute;
    padding-left: 1px;
    left: 52px;
    top: 22px;
    max-width: 246px;
    overflow : hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.player #mLogo{
    position: absolute;
    top: 173px;
    right: 2px;
    cursor: pointer;
    width: 70px;
    height: auto;
}
.player #mUI{
    position: absolute;
    top: 38px;
    left: 54px;
    font-size: 9px;
}
.player #mUI #play{
}
.player #mUI #stop{
    margin-left: 2px;
}
.player #mUI #play:hover{
    cursor: pointer;
    color: #fff;
}
.player #mUI #stop:hover{
    cursor: pointer;
    color: #fff;
}
.player #mUI #bar{
    position: absolute;
    top: 4px;
    left: 23px;
    width: 170px;
    height: 1px;
    border-style: none none solid none;
    border-width: 1px;
    color: #888;
}
.player #mUI #pBar{
    position: absolute;
    top: 4px;
    left: 23px;
    height: 1px;
    border-style: none none solid none;
    border-width: 1px;
    color: #fff;
}
.player #mUI #pTime{
    font-size: 8px;
    position: absolute;
    top: 0px;
    width: 40px;
    left: 200px;
}
.player #list{
    position: absolute;
    top: 55px;
    width: 100%;
    height: 90px;
    overflow-y: scroll;
    overflow-x: hidden;    
    padding: 5px;
    font-size: 9px;
}
.player #list .title{
    cursor: pointer;
    max-width: 200px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}
.player #list .user{
    padding-left: 5px;
    width: 90px;
    right: 0px;
    float: right;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}
.player #input{
    font-size: 10px;
    background: #ccc;
    margin: 5px;
    padding-left: 2px;
    position: absolute;
    width: 270px;
    height: 13px;
    border-style: none;
    top: 155px;
}
.player #input:focus{
    background: #fff;
}
.player #button{
    background: none;
    color: #ccc;
    padding-left: 4px;
    padding-bottom: 2px;
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    width: 15px;
    height: 13px;
    top: 159px;
    left: 280px;
}
.player #button:hover{
    background: none;
    color: #fff;
}

.player #input:focus{
    outline: none;
}
::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    border-radius: 2px;
    background: #333;
}
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #999; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #999; 
}



