body{
    margin: 0px;
    padding: 0px;
    background: #000;
    font-family: Helvetica, arial, sans-serif;
}   

#project-title{
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 72px;
    font-weight: 600;
    letter-spacing: -5px;
    color: #f8f8ff;
    z-index: 1000;
    opacity: 0.8;
}
#project-title span{
    background: #000;
}

#description{
    position: absolute;
    width: 50%;
    height: 20%;
    left: 15px;
    bottom: 5px;
    z-index: 1000;
}
#project-info{
    position: absolute; 
    width: 20%;
    height: 20%;
    bottom: 5px;
    left: 57%;
    z-index: 1000;
}
#contact-info{
    position: absolute; 
    width: 20%;
    height: 20%;
    bottom: 5px;
    right: 15px;
    z-index: 1000;
}
#bgm{
    position: absolute; 
    width: 300px;
    height: 50px;
    top: 25px;
    right: 15px;
    background: #000;
    z-index: 1000;
}

.body-title{
    position: relative;
    padding-bottom:2px;
    left: 2px;
    top: -8px;
    font-size: 10px;
    letter-spacing: 0.6px;
    font-weight: 600;
    color:#e8e8ef;
    opacity: 0.8;
}
.body-title span{
    background: #000;
}
.body-description{
    font-size: 11px;
    font-weight: 100;
    color: #a0a0a5;
    letter-spacing: 0.6px;
    line-height: 15px;
    position: relative;
    background: #000;
    opacity: 0.8;
}
.body-description li{
    margin:0px;
}
.body-description li span{
    font-size: 11px;
    font-weight: 100;
    color: #a0a0a5;
    letter-spacing: 0.6px;
    line-height: 15px;
    position: relative;
    background: #000;
    opacity: 0.8;
}
.body-description a{
    color: #b0b0b5;
    text-decoration: underline;
}
.body-description a:hover{
    text-decoration: line-through;
}

.player{
    font-size: 9px;
    font-weight: 100;
    word-break: break-all; 
    color: #a0a0a5;
    letter-spacing: 0.6px;
    line-height: 12px;
    position: relative;
    opacity: 0.8;
}
.player a{
    color: #b0b0b5;
    text-decoration: none;
}
.player a:hover{
    color: #fff;
}
.player #mThumb {
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    left:0px;
}
.player #mImg{
    width: 50px;
}
.player #mLink{
    position: absolute;
    left: 52px;
    max-width: 248px;
    overflow : hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.player #mUsrLink{
    font-size: 7px;
    position: absolute;
    left: 52px;
    top: 12px;
    max-width: 248px;
    overflow : hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.player #mLogo{
    position: absolute;
    top: 38px;
    right: 2px;
    cursor: pointer;
    width: 70px;
}
.player #mUI{
    position: absolute;
    top: 38px;
    left: 54px;
}
.player #mUI #play{
}
.player #mUI #stop{
    margin-left: 2px;
}
.player #mUI #play:hover{
    cursor: pointer;
    color: #fff;
}
.player #mUI #stop:hover{
    cursor: pointer;
    color: #fff;
}


