body 
{
	font-family: Helvetica, Arial, Sans-serif;
	overflow: hidden;

	width : 100vw;
	height : 100vh;

	margin : 0 0 0 0;
	padding : 0 0 0 0;

	background-color: #ddd;
}

canvas 
{
	position: absolute;
	top : 0;
	right : 0;

	margin : 0 0 0 0;
	padding : 0 0 0 0;

	width : 100vw;
	height : 100vh;

	z-index: 999;

	pointer-events : none;
}

.bg
{
	position: absolute;
	display: inline-block;
	
	z-index: 0;
	
	pointer-events: none;
}

#bg_tl
{
	background-color: inherit;

	top: 0px;
	left: 0px;

	width: calc(100vw / 2);
	height: calc(100vh / 2);
}

#bg_tr
{
	background-color: #d2d2d2;

	top: 0px;
	left: calc(100vw / 2);

	width: calc(100vw / 2);
	height: calc(100vh / 2);
}

#bg_b
{
	background-color: #bfbfbf;

	top: calc(100vh / 2);
	left: 0px;

	width: calc(100vw);
	height: calc(100vh / 2);
}

.btn 
{
	font-weight: 600;
    padding: 4px 15px 4px 13px;
    border-radius: 25px;
    display: inline;
    color: #f1f1f1;
    background: #00c8ff;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 17px;
    z-index: 999;
}

.btn:hover
{
	color : #00c8ff;
	background: #dedede;
}

#PermissionPopUp
{
    position: absolute;
    border-radius: 25px;
    width: 300px;
    height: 150px;
    top: calc(100vh / 2 - 75px);
    left: calc(100vw / 2 - 174px);
    font-size: 25px;
    line-height: 1.3;
    font-weight: 600;
    color: #353535;
    background: #f1f1f1;
    padding: 16px 24px 16px 24px;
    visibility: hidden;
    z-index: 999;
}

#masterVolume
{
	position: absolute;
    width: 100%;
    text-align: center;
    bottom: 22px;
    font-weight: 600;
    font-size: 50px;
    color: #333;
}

#msg
{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20px;
    font-weight: 600;
    font-size: 50px;
    color: #333333;
}

