
/*******************************************
 *  page layoout style                     *
 *******************************************/
/* left section */
#root {
    position: fixed;

    margin: 0px 0 50px 0;
    padding: 0px;

    width: 390px;   
    height: 100%;

    left: 0px;
    top: 0px;
    
    overflow: scroll;
}
#root #container {
    position: relative;
    min-height: 720px;
    width: 360px;
    margin: 10px 0px 50px 10px;
    padding: 0px 0 10px 0;
    background-color: #fefefe;
    display: inline-block;
    vertical-align: top;
}

/* right section */
#categories {
    position: absolute;
    background-color: none;
    
    margin: 0px 0 50px 0;
    padding: 0px;

    top: 0px;
    left: 400px;
}
#categories #container {
    position: relative;
    min-height: 150px;
    min-width: 360px;
    left: 5%;
    margin: 10px 0 0 1%;
    padding: 0px 0 10px 0;
    background-color: #fefefe;
    display: inline-block;
    vertical-align: top;
}

/* footer */
#footer {
    position: fixed;

    margin: 0px;
    padding: 0 10px 10px 10px;

    width: 100%;
    bottom: 0px;
    
    background: #fff;
    opacity: 0.9;
    z-index: 100;
}

/*******************************************
 *  dom layout style                       *
 *******************************************/
body {
    margin: 0px;
    padding: 0px;
    background: #fafafa; 
    color: #333;
    font-size: 12px;
    font-family: 'Inconsolata', "Courier New", Courier, monospace, "Times New Roman", Times, serif;
    float: left;
}

button {   
    margin: 0px 3px 0 0;
    padding: 0px 1px 1px 1px;
    float: left;
    font-family: arial, sans-serif;
    font-size: 10px;
    color: #333;
    background: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #333;
    cursor: pointer;
}
button:hover {
    background: #a00000;
    color: #fff;
    border-color: #a00000;
    text-decoration: line-through;
}

/* list style */
#eventArea {
    margin: 0px;
    padding: 0px;
}
#eventArea div {
    display: inline-block;
}
#eventArea ul {
    margin: 0px;
    padding: 0px;
    overflow: auto;
    min-height: 150px;
}
#eventArea ul li {
    margin: 0px 0px 0px 25px;
    padding: 0px;
}
#eventArea ul li a {
    margin: 0px;
    padding: 0px;
    color: #333;
    text-decoration: none;
}
#eventArea ul li a:hover {
    text-decoration: line-through;
}

/* favicon */
#fav {
    margin-left: 0px;
    height: 13px;
}

/* articles' subject of container style */
#subject {
    margin: 0 0 5px 0;
    padding: 0px;
    font-size: 11px;
}
#subject span {
    padding: 1px 5px 1px 2px;
    color: #f0f0f0;
    background: #000;
}
/*
#subject #edit{
    margin: 0px 0px 0 5px;
    padding: 0px;
    background: none;
    font-size: 10px;
    color: #a00000;
    cursor: pointer;
}
#subject #edit:hover {
    text-decoration: line-through;
}
*/

/* article's title overflow */
#title {
    margin: 0 0 0 -3px;
    max-width: 300px;
    overflow : hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* when delete articles mode on */
.non-active {
    pointer-events: none;
    color: #ddd;
}
#checkbox {
    margin: 0 -12px 0 0;
    padding: 0px;
    position: relative;
    left: -18px;
    bottom: 2px;
}




