/*******************************************
 *  page layoout style                     *
 *******************************************/

#container {
    position: relative;
    left: 0px;
    top: 30px;
    width: 480px;
    margin: 10px 0 15px 10px;
    padding: 0px 0 10px 0;
    background-color: #fefefe;
    overflow: scroll;
}

#header {
    width: 100%;
    height: 20px;   
    background: #fff;
    color: #333;
    opacity: 0.9;
    position: absolute;
    padding: 7px 10px 3px 10px;
    margin: 0px;
}

#footer {
    width: 100%;
    height: 27px;
    background: #fff;
    opacity: 0.9;
    position: fixed;
    bottom: 0px;
    padding: 0 10px 5px 10px;
    margin: 0px;
}

/*******************************************
 *  dom layout style                       *
 *******************************************/

body {
    margin: 0px;
    padding: 0px;
    width: 500px;
    height: 290px;
    background: #fafafa; 
    color: #333;
    font-size: 12px;
    font-family: 'Inconsolata', "Courier New", Courier, monospace, "Times New Roman", Times, serif;
    float: left;
}

#eventArea {
    margin: 0px;
    padding: 0px;
}
#eventArea ul {
    margin: 0px;
    padding: 0px;
    overflow: auto;
    min-height: 150px;
}
#eventArea ul li {
    margin: 0px 0px 0px 25px;
    padding: 0px;
}
#eventArea ul li a {
    margin: 0px;
    padding: 0px;
    color: #333;
    text-decoration: none;
}
#eventArea ul li a:hover {
    text-decoration: line-through;
}
#eventArea div {
    display: inline-block;
}


#subject {
    margin: 0 0 5px 0;
    padding: 0px;
    font-size: 11px;
}
#subject span {
    padding: 1px 5px 1px 2px;
    color: #f0f0f0;
    background: #000;
}

#title {
    margin: 0 0 0 -3px;
    max-width: 420px;
    overflow : hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btn {   
    margin: 0px 3px 0 0;
    padding: 0px 1px 1px 1px;
    float: left;
    font-family: arial, sans-serif;
    font-size: 10px;
    color: #333;
    background: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #333;
    cursor: pointer;
}
.btn:hover {
    background: #a00000;
    color: #fff;
    border-color: #a00000;
    text-decoration: line-through;
}

#fav {
    margin-left: 0px;
    height: 13px;
}

#guide {
    position: absolute;
    font-size: 9px;
    color: #999;
    text-align: right;
    bottom: 5px;
    right: 30px;
}


