
/*******************************************
 *  page layoout style                     *
 *******************************************/
/* left section */
#root {
    position: fixed;
    margin: 0;
    padding: 0px;  
    height: 100vh;
    width: 355px;
    left: 0px;
    top: 0px;
    
    overflow: scroll;
    pointer-events: none;
}
#root .container {
    position: fixed;
    height: calc(100vh - 46px);
    width: 355px;
    padding: 0;
    margin: 0 0 0 0;
    background-color: #fff;
    display: inline-block;
    pointer-events: auto;
}

/* right section */
#categories {
    margin: 0 0 0 360px;
    padding: 0px;
    pointer-events: none;
}
#categories .container {
    min-width: calc(100vw - 360px);
    padding: 0px 0 10px 0;
    margin-bottom: 1px;
    background-color: #fff;
    display: inline-block;
    vertical-align: top;
    pointer-events: auto;
}

/* footer */
#footer {
    position: fixed;
    margin: 0px;
    width: 355px;
    height: 45px;
    bottom: 0px;
    z-index: 100;
    background: #fff;
    border-top-style: solid; 
    border-top-width: 1px;
    border-top-color: #f3f3f3;
    /*background: -webkit-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0.9)); */
    /*background: -o-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0.9));  */
    /*background: -moz-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0.9));  */
    /*background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0.9));  */
    /*box-shadow: 0px 0px 50px rgba(0,0,0,0.05);*/
}

body {
    margin: 0px;
    padding: 0px;
    background: #f3f3f3; 
    color: #333;
    font-size: 12px;
    font-family: 'Inconsolata', "Courier New", Courier, monospace, "Times New Roman", Times, serif;
    float: left;

    /*background: -webkit-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0.9)); */
    /*background: -o-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0.9));  */
    /*background: -moz-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0.9));  */
    /*background: linear-gradient(#f5f5f5, #d2d2d2);  */
}

button {   
    margin: 0px 3px 0 0;
    padding: 0px 1px 1px 1px;
    float: left;
    font-family: arial, sans-serif;
    font-size: 10px;
    color: #333;
    background: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #333;
    cursor: pointer;
}
button:hover {
    background: #a00000;
    color: #fff;
    border-color: #a00000;
    text-decoration: line-through;
}

/* list style */
.eventArea {
    margin: 0px;
    padding: 0px;
}
.eventArea div {
    display: inline-block;
}
.eventArea ul {
    margin: 0px;
    padding: 0px;
    overflow: auto;
}
#root .eventArea ul{
    height: 100vh;
}
#categories .eventArea ul{
    min-height: 15px;
}
.eventArea ul li {
    margin: 0px 0px 0px 15px;
    padding: 0px;
}
.eventArea ul li a {
    margin: 0px;
    padding: 0px;
    color: #333;
    text-decoration: none;
}
.eventArea ul li a:hover {
    text-decoration: line-through;
}

/* favicon */
.fav {
    margin-left: 0px;
    height: 13px;
}

/* articles' subject of container style */
.subject {
    padding: 12px;
    font-size: 15px;
}
.subject span {
    color: #000;
}


/* article's title overflow */
.title{
    margin: 0 0 0 -3px;
    overflow : hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#root .title {
    max-width: 280px;
}
#categories .title {
    max-width: calc(100vw - 440px);
}

.list_img{
    width: 10px;
    margin: 0 10px 1px 0px;
}

/* when delete articles mode on */
.non-active {
    pointer-events: none;
    color: #ddd;
}
.checkbox {
    margin: 0 -12px 0 0;
    padding: 0px;
    position: relative;
    left: -18px;
    bottom: 2px;
}

.btn{
    cursor: pointer;
}

.container_thumb{
    width: 13px;
    margin: 0px 4px -1px 0px;
}

#add_container_image{
    position:fixed;
    bottom: 20px;
    right: 12px;
    width: 50px;
    height: 50px;   
    background-image: url('../images/add_container_button.png');
    background-size: 50px 50px;

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;

    -webkit-transition-property: -webkit-transform, background-image;
    -moz-transition-property: -moz-transform, background-image;
    -o-transition-property: -o-transform, background-image;
    transition-property: transform, background-image;
}
#add_container_image:hover{
    background-image: url('../images/add_container_button_hover.png');

    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg); 
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
}

#menu_click_dummy{
    position:fixed;
    bottom: 0px;
    left: 185px;
    width: 170px;
    height: 50px;   
}
#menu{
    position:fixed;
    bottom: 12px;
    left: 325px;
    width: 20px;
    height: 20px;
    background-image: url('../images/menu_button.png');
    background-size: 20px 20px;
    pointer-events: none;

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;

    -webkit-transition-property: -webkit-transform, background-image;
    -moz-transition-property: -moz-transform, background-image;
    -o-transition-property: -o-transform, background-image;
    transition-property: transform, background-image;
}
#menu.active{
    background-image: url('../images/menu_button_hover.png');
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg); 
    -o-transform:rotate(90deg);
    transform:rotate(90deg);
}

#add_container{
    position:fixed;
    bottom: 15px;
    left: 295px;
    opacity: 0.0;

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;

    -webkit-transition-property: left, opacity;
    -moz-transition-property: left, opacity;
    -o-transition-property: left, opacity;
    transition-property: left, opacity;
}
#add_container.active{
    left: 196px;
    opacity: 1.0;   
}

#clear_history{
    position:fixed;
    bottom: 15px;
    left: 276px;
    opacity: 0.0;

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;

    -webkit-transition-property: left, opacity;
    -moz-transition-property: left, opacity;
    -o-transition-property: left, opacity;
    transition-property: left, opacity;
}
#clear_history.active{
    left: 251px;
    opacity: 1.0;
}

#delete_container_btn{
    float: right;
    margin: 1px -3px 0 0px;
    width: 13px;
    height: 13px;
    background-image: url('../images/icon_trash.png');
    background-size: 13px 13px;

    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;

    -webkit-transition-property: background-image;
    -moz-transition-property: background-image;
    -o-transition-property: background-image;
    transition-property: background-image;
}
#delete_container_btn:hover{
    background-image: url('../images/icon_trash_hover.png');
}
#change_name_btn{
    float: right;
    margin: 1px 0px 0 0px;
    width: 13px;
    height: 13px;
    background-image: url('../images/icon_edit.png');
    background-size: 13px 13px;

    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;

    -webkit-transition-property: background-image;
    -moz-transition-property: background-image;
    -o-transition-property: background-image;
    transition-property: background-image;
}
#change_name_btn:hover{
    background-image: url('../images/icon_edit_hover.png');
}
#article_btn{
    color: #dadada;
    float: right;
    margin-right: 12px;
    margin-top: 2px;
    font-size: 10px;

    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;

    -webkit-transition-property: -webkit-transform, color;
    -moz-transition-property: -moz-transform, color;
    -o-transition-property: -o-transform, color;
    transition-property: transform, color;
}
#article_btn:hover{
    color: #888;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg); 
    -o-transform:rotate(90deg);
    transform:rotate(90deg);
}

#logo {
    margin: 9px 3px 0 10px;
    width: 25px;
}
#app_title{
    position: absolute;
    left: 45px;
    bottom: 23px;
    font-size: 13px;
}
#credit { 
    font-size: 9px;
    position: absolute;
    left: 45px;
    bottom: 10px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
    background: #none;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: none; 
}

input{
    z-index: 999;
    outline: none;
    border: none;
    font-size: 15px;
    font-family: 'Inconsolata', "Courier New", Courier, monospace, "Times New Roman", Times, serif;
}
input:focus{
    z-index: 999;
    outline: none;
    background: #ddd;
}

ul {
    /*list-style: url('../images/icon10.png');*/
    list-style-type: none;
    /*margin:0 0 0 0;*/
}




