body {
    margin: 0px;
    padding: 0px;
    width: 125px;
    height: 180px;
    background: #f5f5f5;  
    color: #333;
    font-family: 'Inconsolata', "Courier New", Courier, monospace, "Times New Roman", Times, serif;

    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;

    -webkit-transition-property: height;
    -moz-transition-property: height;
    -o-transition-property: height;
    transition-property: height;
}
body.active{
    height: 250px;
}

#container {
    position: fixed;
    width: 100vw;
    height: 180px;
    margin: 0;
    padding: 0 0 10px 0;
    /*background-color: #fff;*/
}

#confirm_image{
    margin: 15px auto 15px 9px;
}
#confirm_text{
    font-size: 13px;
    text-align: center;
}

#category_ui{
    text-align: left;
    height: 25px;
    overflow: hidden;
    margin: 5px 0 0 0;
    background-color: #fff;

    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;

    -webkit-transition-property: height;
    -moz-transition-property: height;
    -o-transition-property: height;
    transition-property: height;
}
#category_ui.active{
    height: 95px;
    overflow: scroll;
}
#category_ui div{
    width:98px;
    color: #888;
    cursor: pointer;
    text-align: left;
    margin: 6px 0 6px 10px;
    overflow : hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#category_ui div:hover{
    color: #000;
}

#dropdown_btn{
    font-size: 15px;
    color: #a0a0a0;
    position: absolute;
    right: 5px;
    bottom: 18px;
    pointer-events: none;
}
#dropdown_btn.active{
    color: #ddd;
}

#dropdown_btn_dummy{
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 15px;
    width: 25px;
    height: 25px;
}

.container_thumb{
    opacity: 0.3;
    width: 13px;
    margin: 0px 4px -1px 0px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
    background: #none;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: none; 
}