p {
	font-family: Ubuntu;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;

	margin: 0;
	padding: 0;
}

div {
	margin: 0;
	padding: 0;
}


body {
	font-family: : Ubuntu;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;

	background: #EEE;
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar { 
  display: none;
}

av_title{
	width: 100vw;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    line-height: 20px;
}

#header{
	
}
#container{

}
#footer{

}

#logo{
	margin-top: 15px;
	width: 100px;
}
#bio_title{
	margin-top: 20px;
	background: #000;
	color: #FFF;
}
#bio{
    padding-bottom: 40px;
    background: #fff;
}

.ui_container{
	width: 100vw;
	height: 300px;
	margin: 0;
	padding: 0;
}

.ui_thumbnail_mask{
	position:absolute;
	left:0px;

	margin: 0;
	padding: 0;
}
.ui_thumbnail{
	width: 300px;
	height: 300px;

	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%);
}
.ui_thumbnail:hover{
	-webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
}

.ui_description_mask{
	position:absolute;
	left:300px;

	width: calc(100% - 300px);
	height: 300px;

	margin: 0;
	padding: 0;

	background: #EEE;
}
.ui_subject{
	background:#000;
}
.ui_description{
	border: none;
    width: fit-content;
    color: #000000;
    background: #ffffff;
}
.ui_date{
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: #bfbfbf;
    color: #313131;
}