p {
	font-family: Ubuntu;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;

	margin: 0;
	padding: 0;
}

div {
	margin: 0;
	padding: 0;
}


body {
	font-family: : Ubuntu;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;

	background: #EEE;
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar { 
  display: none;
}

av_title{
	width: 100vw;
    color: #000;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    line-height: 20px;
}

#header{
	
}
#container{

}
#footer{

}

#logo{
	margin-top: 20px;
	background-color: #fff;
}
#logo_img{

}
#bio_title{
	width: 300px;
    background: #fff;
    color: #000;
}
#bio{
    background: #fff;
}
#works_title{
	width: 300px;
    background: #fff;
    color: #000;
}
#cv_link{
    position: absolute;
    right: 0;
    background: #fff;
    color: #00f;
    text-decoration: underline;
}
#cv_link:hover{
    cursor: pointer;
}
#others_link{
	position: absolute;
    top: 20px;
    right: 0;
    background: #fff;
    color: #00f;
    text-decoration: underline;
}

.ui_container{
	width: 100vw;
	height: 300px;
	margin: 0;
	padding: 0;
}
.ui_thumbnail_mask{
	position:absolute;
	left:0px;

	margin: 0;
	padding: 0;
}
.ui_thumbnail{
	width: 300px;
	height: 300px;

	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%);
}
.ui_thumbnail:hover{
	-webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
}

.ui_description_mask{
	position:absolute;
	left:300px;

	width: calc(100% - 300px);
	height: 300px;

	margin: 0;
	padding: 0;

	background: #EEE;
}
.ui_subject{
	background:#fff;
    width: fit-content;
}
.ui_description{
	border: none;
    width: fit-content;
    color: #000000;
    background: #ffffff;
}
.ui_date{
    width: fit-content;
    background: #bfbfbf;
    color: #313131;
}
.ui_detail{
	position: absolute;
	right: 0px;
	top: 0px;
	width: fit-content;
    color: #00f;
    text-decoration: underline;		
}
.ui_detail:hover{
    cursor: pointer;
}