p {
	/*font-family: Ubuntu;*/
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;

	margin: 0 5px 0 5px;
	padding: 0;
}

div {
	margin: 0;
	padding: 0;
}


body {
	/*font-family: : Ubuntu;*/
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	/*font-weight: 400;*/
	line-height: 20px;

	/*background: #000;*/
	/*background: linear-gradient(
		yellow, 
		green
	);
	background-blend-mode: multiply;*/

	/*background-image: 
	linear-gradient( 45deg, #000 25%, transparent 25%),
	linear-gradient(135deg, #000 25%, transparent 25%),
	linear-gradient( 45deg, transparent 75%, #000 25%),
	linear-gradient(135deg, transparent 75%, #000 25%);
	background-size: 10px 10px;
	background-position: 0px 0px, 10px 0px, 10px -10px, 0px 10px;
	background-blend-mode: multiply;*/

    background-image: 
    linear-gradient(
    	135deg, 
    	#333 25%, transparent 25%, 
    	transparent 50%, #333 50%, 
    	#333 75%, transparent 75%);
    background-size: 16px 16px;	

	/*background:
	linear-gradient(
		limegreen,
		transparent
	),
	linear-gradient(
		90deg,
		skyblue,
		transparent
	),
	linear-gradient(
		-90deg,
		coral,
		transparent
	);
	background-size: 8px 8px;
	background-position: 0px 0px, 8px 0px, 8px -8px, 0px 8px;
	background-blend-mode: multiply;*/

	/*height: 100vh;*/

	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar { 
	display: none;
}

av_title{
	color: #000;
	/*font-family: Ubuntu;*/
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 20px;
}
container_title{
	color: #000;
	/*font-family: Ubuntu;*/
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 15px;	
}
credit{
	color: #999;
	/*font-family: Ubuntu;*/
	font-size: 12px;
	font-style: italic;
	font-variant: normal;
	font-weight: 400;
}

#header{
	max-width: 800px;
	background:#fff;
	margin-bottom: 30px;
}
#extra{
	max-width: 800px;
	margin-bottom: 30px;
	background:#fff;
}
#container{
	max-width: 800px;
	margin-bottom: 30px;
	background:#fff;
}
#footer{
	max-width: 800px;
	background:#fff;
}

#render_mode{
	color: #00f;
	text-decoration: underline;		
}
#render_mode:hover{
	cursor: pointer;
}
#logo{
	/*margin-top: 20px;*/
	/*margin-bottom: 20px;*/
	/*background-color: #000;*/
}
#logo_img{
	width: 100px;
	/*-webkit-filter: brightness(100%);*/
	/*filter: brightness(1000%);*/
}
#bio_title{
	width: 300px;
	background: #fff;
	color: #000;
}
#bio{
	background: #fff;
	margin-top: 20px;
}
#works_title{
	max-width: 800px;
	background: #fff;
	color: #000;
}
#cv_link{

}
#others_link{
	
}

.ui_container{
	position: relative;
	width: 100vw;
	max-width: 800px;
	height: 300px;
	margin-top: 20px;
	margin-bottom: 0px;
	padding: 0;
}
.ui_url{
	width: fit-content;
	background-color: #fff;
}
.ui_thumbnail_mask{
	cursor:pointer;
	position: absolute;
	left: 0px;

	margin: 0;
	padding: 0;
}
.ui_thumbnail{
	width: 300px;
	height: 300px;

	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%);
}
.ui_thumbnail:hover{
	-webkit-filter: grayscale(0%); 
	filter: grayscale(0%);
}

.ui_description_mask{
	position:absolute;
	left:300px;

	width: calc(100% - 300px);
	height: 300px;

	margin: 0;
	padding: 0;

	/*background: #ddd;*/
}
.ui_subject{
	background:#fff;
}
.ui_description{
	border: none;
	color: #000000;
	background: #ffffff;
}
.ui_date{
	width: fit-content;
	/*background: #bfbfbf;*/
	color: #313131;
}
.ui_detail{
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: fit-content;
	color: #00f;
	text-decoration: underline;		
}
.ui_detail:hover{
	cursor: pointer;
}


.content_container{
	/*width: calc(100% - 300px);*/
	width: 100%;
	/*margin-left: 300px;*/
	margin-bottom: 300px;
	padding-bottom: 20px;
	background-color: #fff;
}
.content_container_mobile{
	width: 100vw;
	margin-bottom: 20px;
	padding-bottom: 20px;
	background-color: #fff;
}
.content_title{
	color: #000;
	/*font-family: Ubuntu;*/
	/*font-size: 14px;*/
	font-style: italic;
	font-variant: normal;
	font-weight: 600;
	margin: 20px 0 0px 0;
}

.is_fucked {
	-webkit-animation-name: example; 
	-webkit-animation-duration: 500ms;
	-webkit-animation-iteration-count: infinite;
	animation-name: example;
	animation-duration: 500ms;
	animation-iteration-count: infinite;
}

@-webkit-keyframes example {
	0%   {color:red;}
	25%  {color:yellow;}
	50%  {color:blue;}
	75%  {color:green;}
	100% {color:red;}
}
@keyframes example {
	0%   {color:red;}
	25%  {color:yellow;}
	50%  {color:blue;}
	75%  {color:green;}
	100% {color:red;}
}